<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
	function fn_list(){
		$.ajax({
			type: 'POST',
			url: 'ajax',
			dataType : 'JSON',
			contentType: "application/json",
			success: function(data){
				var list = data.list;
				var html = "";
				for(var i=0; i < data.list.length;i++){
					var e = list[i];
					html += `
					<tr>
					<td><a href="javascript:fn_one('${e.e_id}')">${e.e_id}</a></td>
					<td> ${e.e_name} </td>
					<td> ${e.sex} </td>
					<td> ${e.addr} </td>
					</tr>
					`;
				}
				
// 				for(var i=0; i < data.length;i++){
// 					html +="<tr>";
// 					html += "<td>"+ data[i].e_id +"</td>";
// 					html += "<td>"+ data[i].e_name +"</td>"
// 					html += "<td>"+ data[i].sex +"</td>"
// 					html += "<td>"+ data[i].addr +"</td>"
// 					html +="</tr>";
// 				}

				var obj = document.querySelector('#my_tbody');
				obj.innerHTML = html;
				console.log(data);
            },
            error: function(request, status, error){
				console.log(error);
            }
		});
	}
	
	function fn_one(e_id){
		var param = {
				'e_id' : e_id
		}
		$.ajax({
			type: 'POST',
			url: 'ajax_one',
			data: JSON.stringify(param),
			dataType : 'JSON',
			contentType: "application/json",
			success: function(data){
				var emp = data.emp;
				var obj_e_id = document.querySelector("#e_id");
				var obj_e_name = document.querySelector("#e_name");
				var obj_sex = document.querySelector("#sex");
				var obj_addr = document.querySelector("#addr");
				
				obj_e_id.value = emp.e_id;
				obj_e_name.value = emp.e_name;
				obj_sex.value = emp.sex;
				obj_addr.value = emp.addr;

// 				$('input[name=e_id]').attr('value',emp.e_id);
// 				$('input[name=e_name]').attr('value',emp.e_name);
// 				$('input[name=sex]').attr('value',emp.sex);
// 				$('input[name=addr]').attr('value',emp.addr);
            },
            error: function(request, status, error){
				console.log(error);
            }
		});
	}
	
	function fn_add(){
		var e_id = document.querySelector("#e_id");
		var e_name = document.querySelector("#e_name");
		var sex = document.querySelector("#sex");
		var addr = document.querySelector("#addr");
		
		var param = {
				'e_id' : e_id.value,
				'e_name' : e_name.value,
				'sex' : sex.value,
				'addr' : addr.value
		}
		
		$.ajax({
			type: 'POST',
			url: 'ajax_add',
			data: JSON.stringify(param),
			dataType : 'JSON',
			contentType: "application/json",
			success: function(data){
				var cnt = data.cnt;
				console.log(cnt);
				if(cnt==1){
					alert("정상적으로 추가되었습니다.");
					fn_list();
					e_id.value ="";
					e_name.value ="";
					sex.value = "";
					addr.value = "";
				}else{
					alert("추가 도중 문제가 발생했습니다.");
				}
				console.log(data);
			},
            error: function(request, status, error){
				console.log(error);
            }
		});
	}
	
	function fn_modify(){
		var e_id = document.querySelector("#e_id");
		var e_name = document.querySelector("#e_name");
		var sex = document.querySelector("#sex");
		var addr = document.querySelector("#addr");
		
		var param = {
				'e_id' : e_id.value,
				'e_name' : e_name.value,
				'sex' : sex.value,
				'addr' : addr.value
		}
		
		$.ajax({
			type: 'POST',
			url: 'ajax_modify',
			data: JSON.stringify(param),
			dataType : 'JSON',
			contentType: "application/json",
			success: function(data){
				var cnt = data.cnt;
				console.log(cnt);
				if(cnt==1){
					alert("정상적으로 수정되었습니다.");
					fn_list();
					e_id.value ="";
					e_name.value ="";
					sex.value = "";
					addr.value = "";
				}else{
					alert("수정 도중 문제가 발생했습니다.");
				}
				console.log(data);
			},
            error: function(request, status, error){
				console.log(error);
            }
		});
	}
	
	function fn_delete(){
		var e_id = document.querySelector("#e_id");
		var param = {
				'e_id' : e_id.value,
		}
		
		$.ajax({
			type: 'POST',
			url: 'ajax_delete',
			data: JSON.stringify(param),
			dataType : 'JSON',
			contentType: "application/json",
			success: function(data){
				var cnt = data.cnt;
				console.log(cnt);
				if(cnt==1){
					alert("정상적으로 삭제되었습니다.");
					fn_list();
					e_id.value ="";
					e_name.value ="";
					sex.value = "";
					addr.value = "";
				}else{
					alert("삭제 도중 문제가 발생했습니다.");
				}
				console.log(data);
			},
            error: function(request, status, error){
				console.log(error);
            }
		});
	}
	
</script>
</head>
<body onload="fn_list()">

<table border="1">
	<thead>
		<tr>
			<td>사번</td>
			<td>이름</td>
			<td>성별</td>
			<td>주소</td>
		</tr>
	</thead>
	<tbody id="my_tbody">
		<tr>
			<td colspan="4">검색된 데이터가 없습니다.</td>
		</tr>
		
	</tbody>
</table>

<table border="1">
	<tr>
		<td>사번</td>
		<td><input type="text" name="e_id" id="e_id" /></td>
	</tr>
	<tr>
		<td>이름</td>
		<td><input type="text" name="e_name" id="e_name" /></td>
	</tr>
	<tr>
		<td>성별</td>
		<td><input type="text" name="sex" id="sex" /></td>
	</tr>
	<tr>
		<td>주소</td>
		<td><input type="text" name="addr" id="addr" /></td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="button" value="추가" onclick="fn_add();">
			<input type="button" value="수정" onclick="fn_modify();">
			<input type="button" value="삭제" onclick="fn_delete();">
		</td>
	</tr>
</table>

</body>
</html>