<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
EMP_ADD

<form action="mem_add_act" method="post">
	<table border="1px">
		<tr>
			<td>아이디</td>
			<td><input type="text" name="m_id" placeholder="아이디"></td>
		</tr>
		<tr>
			<td>이름</td>
			<td><input type="text" name="m_nm" placeholder="이름"></td>
		</tr>
		<tr>
			<td>전화번호</td>
			<td><input type="text" name="tel" placeholder="전화번호"></td>
		</tr>
		<tr>
			<td>생년월일</td>
			<td><input type="text" name="ymd" placeholder="생년월일"></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="추가"/>
			</td>
		</tr>
	</table>
</form>

</body>
</html>