<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gamedev Canvas Workshop</title>
    <style>
      * { padding: 0; margin: 0; }
      canvas { background: #eee; display: block; margin: 0 auto; }
    </style>
</head>
<body>

<canvas id="myCanvas" width="100px" height="100px"></canvas>

<script>

var str = "b.-499.499,b.499.499,b.-499.-499,b.499.-499,p.0.0";

function drawCanvas(str){
	var arr_str = str.split(",");
	var canvas = document.getElementById("myCanvas");
	var ctx = canvas.getContext("2d");
	
	for(var i=0;i<arr_str.length;i++){
		var bpxz = arr_str[i].split(".");
		var bp = bpxz[0];
		var bpx = parseInt(bpxz[1]);
		var bpz = parseInt(bpxz[2]);
		if(bp=='b'){
			var cenx = (bpx+500)/10;
			var ceny = (bpz+500)/10;
			ctx.beginPath();
			ctx.rect(cenx-10, ceny-10, 10*2, 10*2);
			ctx.fillStyle = "#FF0000";
			ctx.fill();
			ctx.closePath();
		}
		if(bp=='p'){
			var cenx = (bpx+500)/10;
			var ceny = (bpz+500)/10;
			ctx.beginPath();
			ctx.arc(cenx, ceny, 6, 0, Math.PI*2, false);
			ctx.fillStyle = "green";
			ctx.fill();
			ctx.closePath();
		}
	}
}

drawCanvas(str);


</script>

</body>
</html>